.footer {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 6em 0 3em;

    &::before {
        content: '';
        position: absolute;
        bottom: calc(100% - 1px);
        left: 0;
        height: 10vh;
        width: 100%;
        background: #fff;
        clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    }

    .container {
    }

    .group {
        margin-top: 3em;
    }

    &-logo {
        flex: 1;
        padding-right: 5em;

        img {
            width: 100%;
            max-width: 150px;
        }
    }

    &-nav {
        flex: 4;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-section {
        flex: 1;
        padding-right: 20px;

        h3 {
            font-size: 1.25rem;
        }
    }

    &-links {
        list-style-type: none;
        padding: 0;

        li {
        }

        a {
            color: $color-0;
            text-decoration: none;
            font-size: 1rem;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3em;
        padding-top: 6em;

        .copyright {
            flex: 1;
        }
    }

    .ewd {
        width: 200px;

        &_wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        img {
            width: 100%;
        }
    }

    .social-icons {
        flex: 1;
    }
}
