.product-card {
    background: #fff;
    padding: 1.5em;
    max-width: 328px;
    width: 100%;
    margin: 1em;
    border-radius: 0.125em;
    box-shadow: $box-shadow-3;

    a {
        text-decoration: none;
        color: inherit;
    }

    &--images {
        max-width: 244px;
        width: 100%;
        margin: 0 auto;
    }

    &--image {
        &:not(:first-of-type) {
            display: none;
        }
    }

    &--details {
        margin-top: 1em;
    }

    &--name {
    }

    &--description {
        font-size: 1rem;
    }

    &--utility {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.75em;
    }

    &--swatches {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;

        button {
            position: relative;
            display: block;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.45em;
            border: none;
            outline: none;
            background: none;
            box-shadow: $box-shadow-3;
            cursor: pointer;
            overflow: hidden;
        }
    }

    &--swatch {
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;

        /* For second color swatch indicator */
        + span {
            position: absolute;
            top: 0;
            left: 50%;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }

    &--price {
    }
}
